// Specific CSS for your home-page

body {
  background-color: #222222;
  color: white;
}

.container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.banner-image {
  text-align: center;
}

.banner-image img {
  max-height: 100%;
  max-width: 100%;
  opacity: 0.70;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h1 {
  font-size: 72px;
  font-family: 'Dancing Script', cursive;
}

.centered h2 {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  line-height: 50px;
}
