#map {
  border-radius: 16px;
  margin-bottom: 16px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  color: black;
}

.mapbox-image {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
